.profileContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    
 
}
.profileItemMenu {
    width: 10%;

}
.profileItemTabs {
    width: 33%;

}
.profileItemDesc {
    width: 33%;

}


