

.userContainer {
    display: none;
}


.auth {
    display: flex;
    height: 100vh;

    justify-content: flex-end;

    form {
        width: 95%;
    max-width: 25rem;
    text-align: center;
    color: white;
    background-color:var(--accent-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
        .control {
            margin-bottom: 0.5rem;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            input {
                border-radius: 5px;
                border: 1px solid white;
                width: 100%;
                text-align: left;
            padding: 0.5rem;
            }
        }

        .actions {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                font-weight: 700;
                cursor: pointer;
                color: var(--text-color);
                background-color: var(--bg-second-color);

                border: 1px solid white;
                border-radius: 4rem;
                padding: 0.5rem 2.5rem;

                &:hover {
                background-color: var(--accent-color);
                }
            }

            .toggle {
                margin-top: 1rem;
                background-color: transparent;
                color: white;
                text-decoration: underline;
                border: none;
            }
        }

    }
}