

.slider {
 margin: 1rem 0;
 width: 100%;
 background-color: var(--bg-color);
border-radius: 0.5rem;

}




.storyContainer {
    
        .storyMainImage {
            position: relative;
            height: 15rem;
            width: 100%;

            .storyImg {
                object-fit: cover;
                border-radius: 0.5rem;
                width: 100%;
                object-fit: cover;
                height: 100%;
                 
                

            }
        }
        .storyProfileName {
            background-color:var(--accent-color);
            padding: 0.2rem 1rem;
            border-radius: 5rem;
            color: white;
            text-decoration: none;
        }
        .storyProfileImage {
        
            font-size: 12px;
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            .storyProfile {
                
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
            border: 3px solid var(--accent-color);


            }
        }
}

